body{
 background: linear-gradient(318deg, #000 9%, #fff 97%);
 font-size: medium;
 font-family:Georgia, 'Times New Roman', Times, serif;
 font-style: italic;
}

#wrapper{
    column-count: 5;
    justify-content: space-evenly;
    
}

form{
    justify-content: center;
    place-items: center stretch;

}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-align: center;
  }

  .footer {
    bottom: -18%;
    background: linear-gradient(90deg, #401784 0%, #fff 100%);
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
  }