body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' , 'Helvetica Neue',Helvetica, sans-serif;
    line-height: 1.45;
}
header {
    color: #FFFFFF;
    background-color: #284b63;
    padding: 80px 0;
    text-align: center;
}
section {
    padding: 40px 0;
    text-align: center;
}
.cryptoAssets {
    background: #868686;
    padding: 20px;
    min-height: 20vh;
}
footer {
    background: #353535;
    padding: 32px 0;
    text-align: center;
    color: #FFFFFF;
}
h1 {
    font-size: 48px;
    margin: 0 0 16px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;
}

.section { 
    text-align: center;
    padding: 40px 0;
}
.features {
    background: #FFFFFF;
    color: #000000;
}

footer {
    background:#353535;
    padding: 32px 0;
    text-align: center;
    color: #000000;
}
.feature {
    width: 32%;
    display: inline-block;
    font-size: 16px;
}

blockquote {
    margin: 0;
    padding: 0;
    text-align: center;
}
blockquote p {
    margin: 0 0 5px 0;
    font-size: 24px;
}

footer {
    background: #353535;
    padding: 32px 0;
    text-align: center;
    color:#868686;
    font-size: 12px;
}
.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;
}

.header {
   display: flex;
    justify-content: space-between;
}

.header p{
    width: 100px;

}
.data {
    display: flex;
     justify-content: space-between;
 }
 
 .data p{
     width: 100px;
     
 }

 .error{
        color: red;
        display: none;
 }
 * {padding: 0%; margin: 0%; scroll-behavior: smooth;}

._form_wrapper {
    width: 300px;
    background-color: #353535;
    margin: 10px 30px;
    padding: 10px 20px ;
    border-radius: 4px;
    color: #fff;
    text-align: left;
    margin: 0 auto;
}
.input {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.input input { outline: none; border: none;background-color: #fff; width: 300px; height: 30px; padding: 0px 4px;}

._input{ display: flex; justify-content: flex-end; }

._input button {
    cursor: pointer;
    width: 100px;
    height: 40px;
}